@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  button{
  @apply border border-black rounded-xl px-5 py-1;}

}
.card{
  display:flex;
 justify-content:center;
  align-items: center;
  width: 5rem;
  height:5rem;
  background: whiter;
  border-radius:99px;
}
